{{#extends "base"}}
{{#block "content"}}

{{#block "js"}}
{{!-- <script>
 document.querySelector("#search-form").addEventListener('submit', function(e){
    e.preventDefault(); 
    console.log(e.target.values);

 })
</script> --}}
{{/block}}

<h2 class="mt-3">All Agent Commissions</h2>
<form id="search-form" method="GET">
    <div class="row">
        <div class="col">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" value="{{searchTerms.startDate}}" />
        </div>
        <div class="col">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" name="endDate" value="{{searchTerms.endDate}}" />
        </div>
        <input type="submit" value="Search" class="mt-3 btn-primary btn" />
    </div>
</form>


<table class="table">
    <tr>
        <th>Agent First Name</th>
        <th>Agent Last Name</th>
        <th>Total Accumaluated Assesst Under Management</th>
        <th>Inception Date</th>
        <th>Total Commissions</th>

    </tr>
    {{#each allComms}}
    <tr>
        <td>{{this.aFirst_name}}</td>
        <td>{{this.aLast_name}}</td>
        <td>{{this.total_aum}}</td>
        <td>{{this.pstart_date}}</td>
        <td>{{this.total_comms_paid}}</td>

    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}