{{#extends "base"}}

{{#block "js"}}
<!-- <script>
 document.querySelector("#search-form").addEventListener('submit', function(e){
    e.preventDefault(); 
    console.log(e.target.values);

 })
</script>-->
{{/block}}

{{#block "content"}}


<h2 class="mt-3">Customers</h2>
<form id="search-form" method="GET">
    <div class="row">
        <div class="col">
            <input type="text" name="cFirst_name" class="form-control" value="{{searchTerms.cFirst_name}}"/>
        </div>
        <div class="col">
            <input type="text" name="cLast_name" class="form-control" value="{{searchTerms.cLast_name}}"/>
        </div>
        <input type="submit" value="Search" class="mt-3 btn-primary btn" />
        <input type="submit" value="Reset Search" id="clear-search" class="mt-3 btn-primary btn"/>
       

    </div>
</form>
<br>
<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Of Birth</th>
        <th>NRIC</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Address</th>
        <th>ZipCode</th>
        <th>Email</th>
        <th>Pnote</th>
        <th>Customers</th>
        <th>Bank</th>
        <th>Dividends</th>
        <th>Investment Start</th>
        <th>Invested Amount</th>
    </tr>
    {{#each allCustomers}}
    <tr>
        <td>{{this.cFirst_name}}</td>
        <td>{{this.cLast_name}}</td>
        <td>{{this.dob}}</td>
        <td>{{this.NRIC}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.addr_1}}</td>
        <td>{{this.addr_2}}</td>
        <td>{{this.zipcode}}</td>
        <td>{{this.cEmail}}</td>
        <td>{{this.pnote_id}}</td>
        <td>{{this.cust_id}}</td>
        <td>{{this.divi_id}}</td>
        <td>{{this.bank_id}}</td>
        <td>{{this.pstart_date}}</td>
        <td>{{this.invest_amt}}</td>

    </tr>
    {{/each}}
</table>
{{/block}}

{{/extends}}