{{#extends "base"}}

{{#block "js"}}
<!-- <script>
 document.querySelector("#search-form").addEventListener('submit', function(e){
    e.preventDefault(); 
    console.log(e.target.values);

 })
</script>-->
{{/block}}

{{#block "content"}}


<h2 class="mt-3">All Customers</h2>
<br>
<div>

    <a href="/customers/create" class="btn btn-success">Create New Customers</a>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Bank</th>
            <th>Bank No.</th>
            <th>DOB</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        {{#each allCustomers}}
        <tr>
            <td>{{this.cFirst_name}}</td>
            <td>{{this.cLast_name}}</td>
            <td>{{this.cEmail}}</td>
            <td>{{this.bank_name}}</td>
            <td>{{this.bank_num}}</td>
            <td>{{this.dob_fmt}}</td>
            <td>{{this.gender}}</td>
            <td>
                <a class="btn btn-sm btn-warning" href="/customers/{{this.cust_id}}/edit">Edit</a>
                <form method="POST" action="/customers/{{this.cust_id}}/delete" style="display:inline"
                    onsubmit="return confirm('Delete this customer? This cannot be undone.');">
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>




{{/block}}

{{/extends}}