{{#extends "base"}}

{{#block "content"}}
<h1>Edit Customer: {{customer.cFirst_name}} {{customer.cLast_name}}</h1>
<form method="POST">
    <div>
        <label>First Name</label>
        <input type="text" name="cFirst_name" class="form-control" value="{{customer.cFirst_name}}" />
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="cLast_name" class="form-control" value="{{customer.cLast_name}}" />
    </div>
     <div>
        <label>Date Of Birth</label>
        <input type="date" name="dob" class="form-control" value="{{customer.dob}}" />
    </div>
      <div>
        <label>NRIC</label>
        <input type="text" name="NRIC" class="form-control" value="{{customer.NRIC}}"/>
    </div>
     <div>
        <label>Gender</label>
        <input type="text" name="gender" class="form-control" value="{{customer.gender}}"/>
    </div>
     <div>
        <label>Address 2</label>
        <input type="text" name="addr_1" class="form-control"value="{{customer.addr_1}}" />
    </div>
     <div>
        <label>Address 2</label>
        <input type="text" name="addr_2" class="form-control"value="{{customer.addr_2}}"/>
    </div>
     <div>
        <label>Zipcode</label>
        <input type="text" name="zipcode" class="form-control" value="{{customer.zipcode}}" />
    </div>
     <div>
        <label>Email</label>
        <input type="text" name="cEmail" class="form-control" value="{{customer.cEmail}}" />
    </div>
   
    {{!-- <button type="submit">Create</button> --}}
    <input type="submit" value="Edit" class="btn btn-primary mt-3" />
</form>

{{/block}}

{{/extends}}