{{#extends "base"}}

{{#block "js"}}
<!-- <script>
 document.querySelector("#search-form").addEventListener('submit', function(e){
    e.preventDefault(); 
    console.log(e.target.values);

 })
</script>-->
{{/block}}

{{#block "content"}}


<h2 class="mt-3">All Pnotes</h2>
<div>

    <a href="/pnotes/create" class="btn btn-success">Create New Pnotes</a>
</div>


<br>
<table class="table">
    <tr>
        <th>Account Start Date</th>
        {{!-- <th>Account Closed Date</th> --}}
        <th>Invested Amount</th>
        <th>Maintanence Fee</th>
        <th>Customer Name</th>
        {{!-- <th>Customer Last Name</th> --}}
    </tr>
    {{#each allPnotes}}
    <tr>
        <td>{{this.pstart_date}}</td>
         {{!-- <td>{{this.pend_date}}</td> --}}
        <td>{{this.invest_amt}}</td>
        <td>{{this.maintenance_fee}}</td>
        <td>{{this.cFirst_name}}{{this.cLast_name}}</td>
        
        <td>
            <a href="/pnotes/{{this.pnote_id}}/update" class="btn btn-primary btn-sm">Edit</a>
            <a href="/customers/{{this.cust_id}}/delete" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>


{{/block}}

{{/extends}}